body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-image: linear-gradient(to right,  #00a3cc, #00cc99);
}

.game {
	display: flex;
	flex-direction: column;
}

.game-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.hangman-img {
  flex: 1 1 auto;
  max-width: 350px;
}

.status-col {
  flex: 1 1 auto;
  min-width: 200px;
}

.key {
	background: #e6e6e6;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.key:focus {
	outline: none;
}

.key-guessed {
	background: #555;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.key-guessed:focus {
	outline: none;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 340px;
}

.keyboard-row:after {
	clear: both;
	content: "";
	display: table;
}

